n8n/escalation_workflow.json
{
  "name": "Verde Bowl — Redeem Approval Gate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verde-redeem-approval",
        "responseMode": "onReceived",
        "responseData": "={{ { \"status\": \"received\", \"message\": \"Redemption sent for human approval\" } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Redeem Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "verde-redeem-approval"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Verde Bowl — Approve Loyalty Redemption",
        "formDescription": "=A privileged redemption needs your approval.\n\nCustomer: {{ $json.body.customer_name }} ({{ $json.body.customer_id }})\nReward: {{ $json.body.reward }}\nPoints balance: {{ $json.body.points_balance }}\nRequested: {{ $json.body.requested_at }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Decision",
              "fieldType": "dropdown",
              "fieldOptions": { "values": [ { "option": "Approve" }, { "option": "Deny" } ] },
              "requiredField": true
            },
            { "fieldLabel": "Reviewer note", "fieldType": "text" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Human Approval (form)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [460, 300],
      "webhookId": "verde-approval-form"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "Approve",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "decision", "type": "string", "value": "APPROVED" },
            { "id": "s2", "name": "note", "type": "string", "value": "={{ $json['Reviewer note'] }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Record APPROVED",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "d1", "name": "decision", "type": "string", "value": "DENIED" },
            { "id": "d2", "name": "note", "type": "string", "value": "={{ $json['Reviewer note'] }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Record DENIED",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Redeem Webhook": { "main": [[{ "node": "Human Approval (form)", "type": "main", "index": 0 }]] },
    "Human Approval (form)": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": {
      "main": [
        [{ "node": "Record APPROVED", "type": "main", "index": 0 }],
        [{ "node": "Record DENIED", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
