n8n/nightly_regression_workflow.json
{
  "name": "Verde Bowl — Nightly Red-Team Regression",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 3 * * *" } ] }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Every night 03:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VERDE_REGRESSION_RUNNER || 'http://localhost:5678/webhook/run-regression' }}",
        "options": { "timeout": 600000 }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Trigger regression runner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.attack_block_rate }}",
              "rightValue": 90,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Regression? (block rate < 90%)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "n1", "name": "alert", "type": "string", "value": "=REGRESSION: attack block rate {{ $json.attack_block_rate }}% (leaked {{ $json.attack_leaks }}). Cases: {{ $json.leaked_cases }}" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Raise alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "o1", "name": "status", "type": "string", "value": "=OK: block rate {{ $json.attack_block_rate }}%, over-block {{ $json.over_block_rate }}%" }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "Log OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every night 03:00": { "main": [[{ "node": "Trigger regression runner", "type": "main", "index": 0 }]] },
    "Trigger regression runner": { "main": [[{ "node": "Regression? (block rate < 90%)", "type": "main", "index": 0 }]] },
    "Regression? (block rate < 90%)": {
      "main": [
        [{ "node": "Raise alert", "type": "main", "index": 0 }],
        [{ "node": "Log OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
